{% extends 'base.html' %}

{% block title %}List{% endblock %}

{% block body %}
    <div class="container">
        {% include 'ermsapp/messages.html' %}
        <table class="table">
            <tr>
                <th>Sr.</th>
                <th>Id</th>
                <th>Name
                    <a href="/ermsapp/sortasc"><i class="fa-solid fa-arrow-down"></i></a>
                    <a href="/ermsapp/sortdesc"><i class="fa-solid fa-arrow-up"></i></a>
                </th>
                <th>Salary</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
            {% for emp in elist %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{emp.emp_id}}</td>
                    <td>{{emp.emp_name}}</td>
                    <td>{{emp.emp_salary}}</td>
                    <td>{{emp.emp_Age}}</td>
                    <td><a class="btn btn-danger" href="/ermsapp/deleteemp/{{emp.emp_id}}">Delete</a></td>
                    <td><a class="btn btn-danger" href="/ermsapp/deleteemp2?emp_id={{emp.emp_id}}">Delete2</a></td>
                    <td><a class="btn btn-warning" href="/ermsapp/updateemp/{{emp.emp_id}}">Update</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock body %}
